@import '~bpk-mixins';

.Flight {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    padding-right: 20px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 13px;
  }

  &__right p {
    margin: 0 0 10px 0;
  }

  &__duration-hours {
    color: $bpk-color-sky-gray-tint-03;
  }

  &__red {
    color: $bpk-color-panjin;
  }
  
  &__green {
    color: $bpk-color-monteverde;
  }

  &__airline-logo {
    height: $bpk-spacing-lg;
    padding-right: 20px;
  }
}