@import '~bpk-mixins';

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $bpk-spacing-sm;
  background-color: $bpk-background-secondary-light-color;
}